<div class="bookmark-form bookmark-note-id-<%= note.id %>">
  <% if current_user.bookmarked?(note) %>
    <%= render 'bookmarks/unbookmark', note: note %>
  <% else %>
    <%= render 'bookmarks/bookmark', note: note %>
  <% end %>
</div>
