<div class="lets-start d-flex justify-content-center flex-column">
  <div class="lets-start-icon text-center">
    <i class="far fa-edit"></i>
  </div>
  <div class="lets-start-description text-center">
    <p>
      まだノートを作成していません。
      <%= link_to "今すぐ作成", new_note_path %>
      しましょう！
    </p>
  </div>
</div>
