<div class="list-and-view">
  <div class="left-pane">
    <%= render 'notes/list', notes: @notes %>
  </div>
  <div class="right-pane">
    <%= render 'notes/new_form', note: @note %>
  </div>
</div>
