<% provide(:title, "検索結果") %>

<h3><%= @searchkey %> の検索結果</h3>

<div>
私のノート
</div>
<div>
  <%= render partial: 'notes/preview', collection: @my_notes_result, as: :note %>
</div>

<div>
他のユーザーのノート
</div>
<div>
  <%= render partial: 'notes/preview', collection: @other_users_notes_result, as: :note %>
</div>
