<div class="lets-start d-flex justify-content-center flex-column">
  <div class="lets-start-icon text-center">
    <i class="far fa-bell"></i>
  </div>
  <div class="lets-start-description text-center">
    <p>
      通知はありません。
    </p>
  </div>
</div>
