<% provide(:title, "通知") %>

<% if current_user.notifications.empty? %>
  通知はありません。
<% else %>
  <%= form_with url: notifications_path, method: :delete, local: true do |f| %>
    <%= f.button "通知を削除", class: "btn btn-warning" %>
  <% end %>
  <div class="notifications">
    <%= render @notifications %>
  </div>
<% end %>
