<div class="lets-start d-flex justify-content-center flex-column">
  <div class="lets-start-icon text-center">
    <i class="fas fa-users"></i>
  </div>
  <div class="lets-start-description text-center">
    <p>
      まだ誰もフォローしていません。<br>
      興味のある投稿をする人をフォローして通知を受け取りましょう！
    </p>
  </div>
</div>
