<% if false && notice.present? %>
  <p class="notice"><%= notice %></p>
<% end %>
<% if false && alert.present? %>
  <p class="alert"><%= alert %></p>
<% end %>
<% flash.each do |message_type, message| %>
  <%= content_tag(:div, message, class: "flash-fadeoutable alert alert-#{bootstrap_alert message_type}") %>
<% end %>
<%= javascript_pack_tag 'flash_fadeout' %>