<div class="list-and-view">
  <div class="left-pane">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home">
          <i class="fas fa-book-reader"></i>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile">
          <i class="fas fa-bookmark"></i>
        </a>
      </li>
    </ul>
    <div class="tab-content" id="myTabContent">
      <div class="tab-pane show active" id="home">
        <%= render 'notes/list', notes: notes %>
      </div>
      <div class="tab-pane" id="profile">
        <%= render 'notes/list', notes: bookmarked_notes %>
      </div>
    </div>
  </div>
  <div class="right-pane">
    <% if note.nil? %>
      作成しましょう！
    <% else %>
      <%= render 'notes/content', note: note %>
    <% end %>
  </div>
</div>
