<div>
  <% if user_signed_in? %>
    <%= render 'shared/list_and_view', notes: @notes, note: @notes.first %>
  <% else %>
    未ログイン用トップページ
    <%= render 'devise/sessions/login_form' %>
  <% end %>
</div>
