@import "bootstrap/scss/bootstrap";

* {
  outline: 1px solid #aaaaaa;
}

blockquote {
  color: #bababa;
  font-style: italic;
}

.list-and-view{
  height: 80vh;
  display: flex;
}
.left-pane {
  overflow: auto;
  resize: horizontal;
  min-width: 50px;
  width: 150px;
}
.right-pane {
  flex-grow: 1;
  min-width: 10px;
}
.note-content{
  overflow: auto;
  height: 100%;
}