@import "bootstrap/scss/bootstrap";

* {
  outline: 1px solid #aaaaaa;
}

blockquote {
  color: #bababa;
  font-style: italic;
}

.list-and-view{
  height: 80vh;
  display: flex;
}
.left-pane {
  overflow: auto;
  resize: horizontal;
  min-width: 50px;
  width: 150px;
}
.right-pane {
  flex-grow: 1;
  min-width: 10px;
}
.note-content{
  overflow: auto;
  height: 100%;
}
.search-icon {
  position: relative;
  right: 35px;
  padding: 5px;
  border: none;
  background-color: white;
  .fa-search{
    font-size: 20px;
    color: #aaaaaa;
  }
  display: flex;
  .search-icon {
    align-self: center;
    position: relative;
    right: 30px;
  }
}

.note-preview {
  border: 1px red solid;
  border-top: 5px red solid;
  height: 180px;
  overflow: hidden;
}